html, body, h1 {
    margin : 0;
    padding : 0;
}

ul {
    margin : 0;
    padding : 0;
    list-style: none;
    display : flex;
    flex-wrap: wrap;
    align-content: space-around;
}

p {
    margin : 0 auto;
}

/* header */

header {
    display : flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding : 20px 36px 0 50px;
    font-size : 12px;
}

.header-nav li {
    padding : 0 10px;
}

.menu_top button {
    border : none;
    background-color : #FFFFFF;
}

.btn {
    border : none;
    border-radius: 30px;
    background-color: #FFFFFF;;
}

/* main */

main {
    margin : 0 0 200px 200px;
    padding-right : 188px;
    overflow: hidden;
}

.main_title {
    overflow: hidden;
    padding : 20px;
    border-bottom: 2px #828282 solid;
}

.admin_title {
    font-size : 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom : 30px;
}

.go_back {
    float : right;
    background-color : #FFFFFF;
    font-size : 20px;
    font-weight: 400;
}

.main_content > h2 {
    font-size : 36px;
    margin-bottom : 50px;
}

.warning_list div {
    display : flex;
    justify-content: space-between;
    margin-bottom : 100px;
}

.warning_list div > a {
    border : 5px #A0A0A0 solid;
    border-radius: 60px;
    width : 200px;
    height : 130px;
    padding : 30px 50px 0 50px;
    text-decoration-line: none;
}

.warning_title, .warning_list_nickname {
    color : #000000;
}

.warning_list div > a:hover,
.warning_list div > a:hover p{
    background-color: #A0A0A0;
    color : #FFFFFF;
}

.warning_title {
    font-size : 20px;
    display : block;
    height : 60%;
}

.warning_list_nickname {
    float : right;
}

.main_paging {
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    width : 30%;
    padding-left : 35%;
}

.main_paging .btn {
    font-size : 20px;
    font-weight : 600;
}

/*footer*/

footer{
    position: relative;
    height: 139px;
    background-color: #77A7EE;
}
.footer-more{
    position: absolute;
    bottom: 0;
    right: 25px;
    margin-bottom: 25px;
    display: flex;
    float: right;
}
.footer-service-use,
.footer-service-introduce,
.footer-service-name {
    font-size: 12px;
    margin-left: 20px;
}
