/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*본문-헤더*/
header {
    margin: 17px 32px 0;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*로그인, 로그아웃 버튼 스위칭하기: 디스플레이 안되게 설정*/
.logo .login_top {
    display: none;
}

.menu_top button {
    all: unset;
    margin-right: 12px;
}

/*메인: 사이드바 메뉴*/
.nav_and_main {
    display: flex;
}

.left_side_nav {
    margin: 57px 0 25px 25px;
    border: 5px solid #77A7EE;
    border-radius: 40px;
    width: 305px;
    height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav_and_main span {
    margin-left: 30px;
    margin-top: 45px;
    background-color: #77A7EE50;
    width: 111px;
    height: 38px;
    border-radius: 20px;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    font-weight: bold;
}

.left_side_nav a {
    all: unset;
    display: flex;
    justify-content: space-around;
    margin: 60px 0;
    font-weight: bold;
}

/*메인*/
main {
    margin: 0 98px;
}

main h2 {
    font-size: 30px;
}

.info_row1 h2 {
    margin: 60px 0 15px;
}

.info_row2 h2{
    margin: 60px 0 0 0;
}

.personal_info {
    border: 5px solid #77A7EE;
    border-radius: 40px;
    width: 972px;
    height: 549px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user-img {
    margin: 47px 72px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    left: 40px;

}

.profile_img h3 {
    position: relative;
    bottom: 35px;
    left: 130px;
}

.profile_img button {
    position: relative;
    left: 220px;
    bottom: 120px;
}

h3 {
    font-size: 25px;
}

form > h3 {
    margin: 10px 0;
}

form > input {
    all: unset;
    margin-bottom: 13px;
    background-color: #D9D9D9;
    width: 338px;
    height: 47px;
    border-radius: 20px;
}

.profile_desc {
    margin-right: 280px;
    margin-bottom: 30px;
}

.profile_desc > h3, p{
    margin: 20px 72px;
}

button {
    all: unset;
}

.edit {
    width: 120px;
    height: 45px;
    border-radius: 20px;
    background-color: #77A7EE;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    bottom: 251px;
    left: 730px;
}

.cancel {
    border: 3px solid #77A7EE;
    width: 116px;
    height: 41px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    position: relative;
    left: 550px;
    bottom: 80px;
}

.save {
    width: 120px;
    height: 45px;
    border-radius: 20px;
    background-color: #77A7EE;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    left: 570px;
    bottom: 80px;
}

/*푸터*/
footer {
    background-color: #77A7EE;
    height: 127px;
}

.menu_end {
    display: flex;
    justify-content: flex-end;
    padding-top: 75px;
    padding-right: 30px;
}

.menu_end button {
    margin-left: 60px;
}

/*modal_1, display: none 상태*/
.modal_1 {
    width: 877px;
    height: 192px;
    border: 5px solid #77A7EE;
    border-radius: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 20px;
    display: none;
}

.modal_info {
    padding-left: 60px;
}

.modal_1 p {
    margin-left: 30px;
}

.modal_1_close {
    position: relative;
    bottom: 50px;
    left: 20px;
}