<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/notify_list.css}">
    <title>관리자 페이지</title>
</head>
<body>
<header>
    <div class="logo">
        <a class="logo_top" href="">
            <img src="/image/logo.png" alt="사이사이 로고">
        </a>
    </div>
    <nav class="menu_top">
        <button id="logout" class="logout" type="button">로그아웃</button>
        <button id="my-info" class="mypage" type="button">내 정보</button>
    </nav>
</header>
<main>
    <div class="main_title">
        <h1 class="admin_title">관리자 전용 페이지</h1>
    </div>
    <div class="main-container-wrapper">
        <h2>신고글 목록</h2>
        <div class="main_content">
            <div class="warning_list" th:each="notify : ${notifyList}">
                <a th:href="@{/page/main/{postId}(postId=${notify.id})}">
                    <h1 th:text="|신고 대상 : ${notify.notifyNickname}|">신고 대상</h1>
                    <div class="warning_h2">
                        <h2 th:text="${notify.createdAt}">생성일</h2>
                        <h2 th:text="${notify.postNickname}">작성자</h2>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div class="pagination-wrapper">
        <div th:if="${!notifyList.isEmpty()}">
            <ul class="pagination"
                th:with="
                    pageNumber = ${notifyList.pageable.pageNumber},
                    pageSize = ${notifyList.pageable.pageSize},
                    totalPages = ${notifyList.totalPages},
                    startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                    tempEndPage = ${startPage + pageSize - 1},
                    endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">

                <li th:classappend="${notifyList.first} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/page/admin(page=${pageNumber - 1})}">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">
                    <a th:text="${page}" class="page-link"
                       th:href="@{/page/admin(page=${page - 1})}"></a>
                </li>

                <li th:classappend="${notifyList.last} ? 'disabled'" class="page-item">
                    <a class="page-link" th:href="@{/page/admin(page=${pageNumber + 1})}"
                       aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <nav class="menu_end">
        <button class="site_info" type="button">이용약관</button>
        <button class="service_desc" type="button">서비스 소개</button>
        <button class="about_4242" type="button">4242</button>
    </nav>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/notify_list.js"></script>
</body>
</html>