<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/intro.css">
    <title>인트로 페이지</title>
</head>
<body>
<div class="intro_context">
<header>
    <h1 class="top_text">
        혼자 공부하기 지치셨나요? <br> 같은 열정을 가진 사람들 "사이 사이"를 이어드릴게요
    </h1>
</header>
<main>
    <p class="medium_text">
        사이사이는 비슷한 실력을 가진 사람들의 열정을 이어주는 서비스입니다. <br>
        뉴비 등급, 주니어 등급을 지나 시니어 등급까지 도전해보세요! <br>
        사이사이와 함께 경험을 쌓으며 성장해보세요!
    </p>
    <div class="button_and_image">
    <button class=medium_button>4242 이용하러 가기</button>
    <img class="intro_image" src="../static/image/intro_image.png" alt="인트로 페이지 이미지">
    </div>
</main>
</div>
</body>
</html>