<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/login.css">
    <title>Title</title>
</head>
<body>
<div class="login_all_context">
    <div class="login_main">
        <img class="login_image" src="../static/image/login_image.png" alt="4242 큰 로고 이미지">
    </div>
    <div class="login_context">
    <form action="post" action="서버url" id="login-form">
        <p class="email_text">이메일</p>
        <input class="input_email" type="text" name="userEmail" placeholder="Email">
        <p class="password_text">비밀번호</p>
        <input class="input_password" type="password" name="userPassword" placeholder="Password">
        <button class=login_button>로그인</button>
    </form>
    </div>

</div>
</body>
</html>