<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>메인 페이지</title>
</head>
<body>
<button class="btn-to-top">
    <img src="/image/keyboard_arrow_up.png" alt="위로가기 버튼">
</button>
<header>
    <img src="/image/4242-logo.png" alt="4242 로고">

    <ul class="header-nav">
        <li><button id="logout">로그아웃</button></li>
        <li><button id="my-info">내 정보</button></li>
    </ul>
</header>
<div class="main-context">
<main>
    <div class="main-box">
        <p class="box-text">내 관심분야는?</p>
        <div class="post-type-select">
            <select id="post-type" name="post-type" onchange="getPostsByMajor()">
                <option value="all">전체</option>
                <option value="society">인문사회</option>
                <option value="science">자연과학</option>
                <option value="engineering">정보공학</option>
                <option value="ai">AI</option>
            </select>
        </div>
    </div>
    <div class="hot">
        <p class="hot-text"><span style="color:red">HOT</span>한
            <button class="study-button" th:onclick="'javascript:showPostByType(\'study\');'">스터디</button> /
            <button class="project-button" th:onclick="'javascript:showPostByType(\'project\');'">프로젝트</button>
            모집공고를 확인해보세요!</p>
        <div class="hot-box">
            <div class="hot-box-content" th:each="post : ${hotPosts}">
                <div class="box-top-content">
                    <p class="box-in-text" th:text="${post.title}"></p>
                    <img class="heart" src="/image/filled-heart.png" alt="채워진 하트 이미지"/>
                </div>
                <div class="box-text-content">
                    <p class="author">글쓴이</p>
                    <p>조회수 30</p>
                    <p>댓글 33</p>
                </div>
            </div>
            <div class="hot-box-content" th:each="post : ${hotPosts}">
                <div class="box-top-content">
                    <p class="box-in-text" th:text="${post.title}"></p>
                    <img class="heart" src="/image/filled-heart.png" alt="채워진 하트 이미지"/>
                </div>
                <div class="box-text-content">
                    <p class="author">글쓴이</p>
                    <p>조회수 30</p>
                    <p>댓글 33</p>
                </div>
            </div>
            <div class="hot-box-content" th:each="post : ${hotPosts}">
                <div class="box-top-content">
                    <p class="box-in-text" th:text="${post.title}"></p>
                    <img class="heart" src="/image/filled-heart.png" alt="채워진 하트 이미지"/>
                </div>
                <div class="box-text-content">
                    <p class="author">글쓴이</p>
                    <p>조회수 30</p>
                    <p>댓글 33</p>
                </div>
            </div>
        </div>
    </div>
    <div class="find">
        <p class="find-text">모집중인
            <button class="study-button" th:onclick="'javascript:showPostByType(\'study\');'">스터디</button> /
            <button class="project-button" th:onclick="'javascript:showPostByType(\'project\');'">프로젝트</button></p>
        <div class="find-box">
            <div class="boxes">
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/filled-heart.png" alt="채워진 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/filled-heart.png" alt="채워진 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
            </div>
            <div class="boxes">
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
            </div>
            <div class="boxes">
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
                <div class="find-box-content">
                    <div class="box-top-content">
                        <p class="box-in-text">수학 공부 하실 분 모집합니다!</p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                    </div>
                    <div class="box-text-content-2">
                        <p class="author">글쓴이</p>
                        <p>조회수 30</p>
                        <p>댓글 33</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-more">
        <button class="footer-a">이용약관</button>
        <button class="footer-a">서비스 소개</button>
        <button class="footer-a">4242</button>
    </div>
</footer>
</div>
</body>
<script src="/js/main.js"></script>
</html>