<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <title>메인 페이지</title>
</head>
<body>
<button class="btn-to-top">
    <img src="/image/keyboard_arrow_up.png" alt="위로가기 버튼">
</button>
<header>
    <img src="/image/4242-logo.png" alt="4242 로고">

    <ul class="header-nav">
        <li><button id="admin" th:if="${userinfo.isAdmin}">관리자 페이지</button></li>
        <li><button id="create">모집공고</br>생성</button></li>
        <li><button id="notify" >신고하기</button></li>
        <li><button id="logout">로그아웃</button></li>
        <li><button id="my-info">내 정보</button></li>
    </ul>
</header>
<div class="main-context">
    <main>
        <div class="main-box">
            <p class="box-text">내 관심분야는?</p>
            <div class="post-type-select">
                <select id="post-type" name="post-type" onchange="fetchAndDisplayPosts()">
                    <option value="">전체</option>
                    <option value="1">자연과학</option>
                    <option value="2">공학</option>
                    <option value="3">인문사회</option>
                    <option value="4">교육</option>
                    <option value="5">예체능</option>
                </select>
            </div>
        </div>
        <div class="hot">
            <p class="hot-text"><span style="color:red">HOT</span>한
                <button class="study-button">스터디</button> /
                <button class="project-button">프로젝트</button>
            </p>

            <div class="hot-box">
                <div class="hot-box-content" th:each="post : ${hotPostList}">
                    <div class="box-top-content" th:data-post-id="${post.id}">
                        <p class="box-in-text" th:text="${post.title}"></p>
                        <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                        <img class="fire" src="/image/fire.png" alt="핫"/>
                    </div>
                    <div class="box-text-content">
                        <p class="author" th:text="${post.nickname}">글쓴이</p>
                        <p th:text="'조회수' + ${post.viewCount}"></p>
                        <p th:text=" '댓글' + ${post.commentList.size()}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="find">
            <p class="find-text">모집중인
                <button class="study-button" data-type="1">스터디</button> /
                <button class="project-button" data-type="2">프로젝트</button>
            </p>

            <div class="find-box">
                <div class="boxes">
                    <div class="find-box-content" th:each="post : ${postList}">
                        <div class="box-top-content" th:data-post-id="${post.id}">
                            <p class="box-in-text" th:text="${post.title}"></p>
                            <img class="heart" src="/image/empty-heart.png" alt="빈 하트 이미지"/>
                        </div>
                        <div class="box-text-content-2">
                            <p class="author" th:text="${post.nickname}"></p>
                            <p th:text=" '조회수' + ${post.viewCount}"></p>
                            <p th:text=" '댓글' + ${post.commentList.size()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<footer>
    <div class="footer-more">
        <button class="footer-a">이용약관</button>
        <button class="footer-a">서비스 소개</button>
        <button class="footer-a">4242</button>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>
