<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css">
    <title>Title</title>
</head>
<body>
<div class="main-context">
<header>
    <img class="logo-image" src="../static/image/logo.png" alt="상단 4242 로고">
    <div class="logout-and-mydata">
    <button class="logout">로그아웃</button>
    <button class="mydata">내 정보</button>
    </div>
</header>
<main>
    <div class="main-box">
        <p class="box-text">내 관심분야는?</p>
        <div class="sub-box"><input type="button" class="search-toggle"></div>
    </div>
    <div class="hot">
        <p class="hot-text"><span style="color:red">HOT</span> 스터디 / 프로젝트 모집</p>
        <div class="hot-box">
            <div class="hot-box1"></div>
            <div class="hot-box2"></div>
            <div class="hot-box3"></div>
        </div>
    </div>
    <div class="find">
        <p class="find-text">모집중인 스터디 / 프로젝트</p>
        <div class="find-box">
            <div class="first-boxes">
                <div class="find-box1"></div>
                <div class="find-box2"></div>
                <div class="find-box3"></div>
            </div>
            <div class="second-boxes">
                <div class="find-box4"></div>
                <div class="find-box5"></div>
                <div class="find-box6"></div>
            </div>
            <div class="third-boxes">
                <div class="find-box7"></div>
                <div class="find-box8"></div>
                <div class="find-box9"></div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-more">
        <a class="footer-a">이용약관</a>
        <a class="footer-a">서비스 소개</a>
        <a class="footer-a">4242</a>
    </div>
</footer>
</div>
</body>
</html>