<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>신고글 상세 조회</title>
</head>
<body>
<header>
    <img src="/image/4242-logo.png" alt="4242 로고">

    <ul class="header-nav">
        <li><a class="header-nav-logout">로그아웃</a></li>
        <li><a class="header-nav-info">내 정보</a></li>
    </ul>
</header>

<main>
    <section class="notify-post-header">
        <a class="msg-go-back">뒤로가기</a>
        <div class="notify-post-header-box">
            <p class="notify-post-title">신고합니다.</p>
        </div>
        <div class="writer-info">
            <ul>
                <li>작성자 : </li>
                <li class="bold-text">닉네임</li>
            </ul>

            <ul>
                <li>등급 : </li>
                <li class="bold-text">주니어</li>
            </ul>

            <ul>
                <li>작성일시 : </li>
                <li class="bold-text">2024.03.23</li>
            </ul>
        </div>
    </section>

    <section class="notified-user-info">
        <p class="notified-user">신고 유저 : <span class="notified-user-nickname">치알김추</span></p>
    </section>

    <section class="notify-post-detail">
        <p class="notify-post-introduce">사유</p>
        <div class="notify-post-text">
            일단 신고합니다. 일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해

            일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요

            일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요


            일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요일단 신고해요
        </div>
    </section>

    <button class="btn-user-suspend">신고 유저 정지하기</button>
</main>

<footer>
    <div class="footer-more">
        <a class="footer-service-use">이용약관</a>
        <a class="footer-service-introduce">서비스 소개</a>
        <a class="footer-service-name">4242</a>
    </div>
</footer>

<button class="btn-to-top">
    <img src="/image/keyboard_arrow_up.png" alt="위로가기 버튼">
</button>

<link rel="stylesheet" href="../static/notify_post_detail.css">
<script src="../static/js/common.js"></script>
<script src="../static/js/notify_detail.js"></script>
</body>
</html>