<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/personal_page.css}">
  <title>개인정보 페이지</title>
</head>
<body>
<header>
  <div class="logo">
    <a class="logo_top" href="">
      <img src="/image/logo.png" alt="사이사이 로고">
    </a>
    <nav class="menu_top">
      <button class="login_top" type="button">로그인</button>
      <button class="logout_top" type="button">로그아웃</button>
      <button class="mypage" type="button">내 정보</button>
    </nav>
  </div>
</header>

<section class="nav_and_main">
  <nav class="left_side_nav">
    <ul>
      <li><a href="#info_row1">회원정보</a> </li>
      <li><a href="#info_row2">진행중인 스터디 / 프로젝트</a></li>
      <li><a href="#info_row3">내가 모집중인 스터디 / 프로젝트</a></li>
      <li><a href="#info_row4">스크랩한 스터디 / 프로젝트</a></li>
      <li><a href="#info_row5">종료된 스터디 / 프로젝트</a></li>
    </ul>
  </nav>
  <main>
    <div id="info_row1" class="info_row1">
      <h2>회원 정보</h2>
      <div class="personal_info">
        <img th:src="${userInfo.img_url}" alt="나의 프로필 사진">
        <div class="profile_desc">
          <h3 th:text="|닉네임 : ${userInfo.nickname}|">닉네임: 사이사이</h3>
          <p th:text="|등급 : ${userInfo.role}|">등급: 뉴비 / 주니어 / 시니어</p>
          <p>이메일 : abcde@gmail.com</p>
        </div>
        <button class="edit" type="button" th:href="@{/page/my_edit_page}">수정</button>
      </div>
    </div>

    <div id="info_row2" class="info_row2">
      <h2>진행중인 스터디 / 프로젝트</h2>
      <button type="button" id="go_left1" class="go_left">
        <img src="/image/to_left.png" alt="왼쪽으로 보여주기">
      </button>
      <div class="row2">
        <div th:each="team : ${onGoingTeamList}" class="ingTeamItem">
            <h3 th:text="|${team.major} ${team.type}|">수학 스터디</h3>
            <p th:text="|스터디장 : ${team.leader}|">스터디장: 닉네임</p>
          <button class="is_closed" type="button">종료</button>
        </div>
      </div>
      <button type="button" id="go_right1" class="go_right">
        <img src="/image/to_right.png" alt="오른쪽으로 보여주기">
      </button>
    </div>

    <div id="info_row3" class="info_row3">
      <h2>내가 모집중인 스터디 / 프로젝트</h2>
      <button type="button" id="go_left2" class="go_left">
        <img src="/image/to_left.png" alt="왼쪽으로 보여주기">
      </button>
      <div class="row3">
        <div th:each="post : ${myPostList}" class="studyItem" th:href="@{//{id}(id=${post.id})}">
          <h3 th:text="|${post.major} ${post.type}|">수학 스터디</h3>
          <p th:text="|스터디장 : ${post.nickname}|">스터디장: 닉네임</p>
        </div>

      </div>
      <button type="button" id="go_right2" class="go_right">
        <img src="/image/to_right.png" alt="오른쪽으로 보여주기">
      </button>
    </div>

    <div id="info_row4" class="info_row4">
      <h2>스크랩한 스터디 / 프로젝트</h2>
      <button type="button" id="go_left3" class="go_left">
        <img src="/image/to_left.png" alt="왼쪽으로 보여주기">
      </button>
      <div class="row4">
        <div th:each="scrap, iterStat : ${scrapList}" class="scrapItem" th:href="@{//{id}(id=${post.id})}">
          <button type="button" class="favorite">
            <img src="/image/filled-heart.png" alt="프로젝트 즐겨찾기">
          </button>
          <h3 th:text="|${scrap.major} ${scrap.type}|">수학 스터디</h3>
          <p th:text="|스터디장 : ${scrap.nickname}|">스터디장: 닉네임</p>
        </div>
      </div>
      <button type="button" id="go_right3" class="go_right">
        <img src="/image/to_right.png" alt="오른쪽으로 보여주기">
      </button>
    </div>

    <div id="info_row5" class="info_row5">
      <h2>종료된 스터디 / 프로젝트</h2>
      <button type="button" id="go_left4" class="go_left">
        <img src="/image/to_left.png" alt="왼쪽으로 보여주기">
      </button>
      <div class="row5">
        <div th:each="team : ${finishedTeamList}" class="finisheTeamItem">
          <h3 th:text="|${team.major} ${team.type}|">수학 스터디</h3>
          <p th:text="|스터디장 : ${team.leader}|">스터디장: 닉네임</p>
        </div>
      </div>
      </div>
      <button type="button" id="go_right4" class="go_right">
        <img src="/image/to_right.png" alt="오른쪽으로 보여주기">
      </button>
    </div>
    <button type="button" class="scroll_top">
      <img src="/image/scroll_up.png" alt="맨 위로 올라가기">
    </button>
  </main>
</section>

<footer>
  <nav class="menu_end">
    <button class="site_info" type="button">이용약관</button>
    <button class="service_desc" type="button">서비스 소개</button>
    <button class="about_4242" type="button">4242</button>
  </nav>
</footer>

<!--모달 창 1, 2-->
<section class="modal">
  <div class="modal_1_all">
    <button type="button" class="modal_1_close">
      <img src="/image/close.png">
    </button>
    <div class="modal_1">
      <img id="" src="/image/Info.png" alt="정보 아이콘">
      <p>진행중인 스터디 / 프로젝트를<br>종료하시겠습니까?</p>
      <img src="/image/Ok_red.png" alt="확인 버튼">
    </div>
  </div>

  <div class="modal_2">
    <p>아직 진행중인 스터디 / 프로젝트가 없네요 ㅠㅠ</p>
    <p class="make_space">새로운 스터디 / 프로젝트를 시작해보세요!</p>
    <button type="button" class="go_to_main">
      모집중인 스터디 / 프로젝트 보러가기
    </button>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/personal_page.js" ></script>
</body>
</html>