<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/personal_edit_page.css}">
  <title>개인정보 수정 페이지</title>
</head>
<body>
<header>
  <div class="logo">
    <a class="logo_top" th:href="@{/page/main}">
      <img src="/image/logo.png" alt="사이사이 로고">
    </a>
    <nav class="menu_top">
      <button class="login_top" type="button">로그인</button>
      <button class="logout_top" type="button">로그아웃</button>
      <button class="mypage" type="button">내 정보</button>
    </nav>
  </div>
</header>

<section class="nav_and_main">
  <nav class="left_side_nav">
    <span>회원 정보</span>
    <ul>
      <li><a href="">진행중인 스터디 / 프로젝트</a></li>
      <li><a href="">내가 모집중인 스터디 / 프로젝트</a></li>
      <li><a href="">스크랩한 스터디 / 프로젝트</a></li>
      <li><a href="">종료된 스터디 / 프로젝트</a></li>
    </ul>
  </nav>

  <main>
    <div class="info_row1">
      <h2>회원 정보</h2>
      <div class="personal_info">
        <div class="profile_img">
          <img id="user-img"th:src="${userInfo.img_url}" alt="나의 프로필 사진">
          <h3 th:text="|등급 : ${userInfo.role}|">등급 : 뉴비</h3>
          <button type="button" class="upload-btn">
            <img src="/image/profile_upload.png" alt="프로필 사진 수정">
          </button>
          <!-- 파일 업로드 input -->
          <input type="file" id="fileInput" style="display: none;">
        </div>
        <div class="profile_desc">
          <form>
            <h3>이메일</h3>
            <input type="text" th:value="${userInfo.email}" disabled>
            <h3>닉네임</h3>
            <input type="text" id="nicknameInput" th:value="${userInfo.nickname}">
          </form>
        </div>
      </div>
      <button class="edit" type="button">수정</button>
      <button class="cancel" type="button" style="display: none;">취소</button>
      <button class="save" type="button" style="display: none;">저장</button>
    </div>
  </main>


</section>

<footer>
  <nav class="menu_end">
    <button class="site_info" type="button">이용약관</button>
    <button class="service_desc" type="button">서비스 소개</button>
    <button class="about_4242" type="button">4242</button>
  </nav>
</footer>

<!--모달 창 1-->
<section class="modal">
  <div class="modal_1">
    <img class="modal_info" src="../static/image/info.png" alt="정보 아이콘">
    <p>이미 존재하는 닉네임입니다.</p>
    <img class="modal_1_close" src="../static/image/close.png" alt="닫기 버튼">
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/personal_edit_page.js" ></script>
</body>
</html>