<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>개인정보 수정 페이지</title>
</head>
<body>
<header>
  <div class="logo">
    <a class="logo_top" href="">
      <img src="../static/image/logo.png" alt="사이사이 로고">
    </a>
  </div>
  <nav class="menu_top">
    <button class="login_top" type="button">로그인</button>
    <button class="logout_top" type="button">로그아웃</button>
    <button class="mypage" type="button">내 정보</button>
  </nav>
</header>

<nav class="left_side_nav">
  <span>회원 정보</span>
  <ul>
    <li><a href="">진행중인 스터디 / 프로젝트</a></li>
    <li><a href="">내가 모집중인 스터디 / 프로젝트</a></li>
    <li><a href="">스크랩한 스터디 / 프로젝트</a></li>
    <li><a href="">종료된 스터디 / 프로젝트</a></li>
  </ul>
</nav>

<main>
  <h2>회원 정보</h2>
  <div class="personal_info">
    <div class="personal_info_main">
      <img src="" alt="나의 프로필 사진">
      <div class="personal_info_details">
        <h3>이메일</h3>
        <p>abced@gmail.com</p>
        <h3>닉네임</h3>
        <p>아무 내용</p>
        <button class="edit" type="button">수정</button>
      </div>
    </div>
    <div class="personal_info_buttons">
      <button class="cancel" type="button">취소</button>
      <button class="save" type="button">저장</button>
    </div>
  </div>
</main>

<footer>
  <nav class="menu_end">
    <button class="site_info" type="button">이용약관</button>
    <button class="service_desc" type="button">서비스 소개</button>
    <button class="about_4242" type="button">4242</button>
  </nav>
</footer>

<!--모달 창 1-->
<section class="modal">
  <div class="modal_1">
    <img src="../static/image/Info.png" alt="정보 아이콘">
    <p>이미 존재하는 닉네임입니다.</p>
    <img src="../static/image/Close.png" alt="닫기 버튼">
  </div>
</section>
</body>
</html>