<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>모집 글 생성 페이지</title>
    <link rel="stylesheet" th:href="@{/post-form.css}">
</head>
<body>
<nav class="navbar">
    <div>
        <a href="main.html">
            <img id="logo" src="/image/logo.png" alt="로고 이미지"/>
        </a>
    </div>
    <div id="nav-r">
        <a class='nav-a' th:href="@{page/logout}">로그아웃</a>
        <a class='nav-a' th:href="@{page/my_page}">내 정보</a>
    </div>

</nav>
<main>
    <div id="main-wrapper">
        <div>
            <a th:href="@{page/main}">뒤로가기</a>
            <h2 id="apply">스터디 / 프로젝트 생성</h2>
            <hr/>
        </div>
        <div id="title-wrapper">
            <label class="label-1" for="title">제목</label><br>
            <textarea id="title" name="motivation"></textarea>
        </div>
        <div>
            <p class="label-1">모집 정보</p><hr/>
            <div class="input-box">
                <div class="input-group">
                    <label for="post-type">모집 구분</label>
                    <select id="post-type" name="post-type">
                        <option value="" disabled selected>선택하세요</option>
                        <option value=1>스터디</option>
                        <option value=2>프로젝트</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="member-cnt">모집 인원(명)</label>
                    <input type="number" id="member-cnt" name="member-cnt" min="1" max="20">
                </div>
                <div class="input-group">
                    <label for="post-major">모집 분야</label>
                    <select id="post-major" name="post-major">
                        <option value="" disabled selected>선택하세요</option>
                        <option value=1>수학</option>
                        <option value=2>과학</option>
                        <option value=3>영어</option>
                        <option value=4>코딩</option>
                        <option value=5>요소</option>
                        <!-- 추가 분야 -->
                    </select>
                </div>
            </div>
            <div class="input-down-box">
                <div class="input-group">
                    <label for="process-type">진행 방식</label>
                    <select id="process-type" name="process-type">
                        <option value="" disabled selected>선택하세요</option>
                        <option value="on-line">온라인</option>
                        <option value="off-line">오프라인</option>
                        <option value="hy-brid">하이브리드</option>
                    </select>
                </div>
                <div id="date-box" class="input-group">
                    <p>예상 진행 기간</p>
                    <div class="t-wrapper">
                        <label class="l-time" for="start-date">시작</label></div>
                    <div class="t-wrapper"><input type="date" id="start-date" name="start-date"></div>
                    <div id="end-label" class="t-wrapper"><label class="l-time" for="end-date">종료</label></div>
                    <div class="t-wrapper"><input type="date" id="end-date" name="end-date"></div>
                </div>
            </div>
        </div>
        <hr/>
        <div>
            <label class="label-1" for="introduce">스터디 / 프로젝트 소개</label><br>
            <textarea id="introduce" name="introduce"></textarea>
        </div>
        <div id="file-wrapper">
            <div>
                <input type="file" name="file" id="file">
            </div>
            <div>
                <p>모집 공고를 설명하는 이미지 또는 파일을 올려보세요!</p>
            </div>
        </div>

        <div>
            <button id="submit-button" type="button">제출하기</button>
        </div>
    </div>
</main>
<footer>
    <div class="footer-more">
        <a class="footer-a">이용약관</a>
        <a class="footer-a">서비스 소개</a>
        <a class="footer-a">4242</a>
    </div>
</footer>
<section class="modal">
    <div class="modal-box">
        <button><img id="modal_close" src="/image/close.png" alt="모달창 닫기 버튼"></button>
        <div class="modal-inner">
            <img src="/image/info.png" alt="정보 아이콘">
            <div id="question">
                <p>모집 공고를</p>
                <p>제출하겠습니까?</p>
            </div>
            <button>
                <img id="modal_confirm" src="/image/green_check.png" alt="체크 버튼">
            </button>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/post-form.js" ></script>
</body>
</html>