<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모집글 상세 조회</title>
    <link rel="stylesheet" href="/recruitPostDetail.css">
</head>
<body>
    <header>
        <img src="/image/4242-logo.png" alt="4242 로고">

        <ul class="header-nav">
            <li><a class="header-nav-logout">로그아웃</a></li>
            <li><a class="header-nav-info">내 정보</a></li>
        </ul>
    </header>

    <main>
        <section class="recruit-post-header">
            <a class="msg-go-back">뒤로가기</a>
            <input type="hidden" id="post-id" th:value="${post.id}">
            <div class="recruit-post-header-box">
                <p class="recruit-post-title" th:text="${post.title}">수학 스터디 모집합니다</p>
                <div class="study-recruit" th:text="${now.isBefore(post.start_date) ? '모집중입니다' : '모집이 마감되었습니다'}"></div>
            </div>
            <div class="under-title">
                <div class="writer-info">
                    <ul>
                        <li>작성자 : </li>
                        <li class="bold-text" th:text="${post.nickname}">닉네임</li>
                    </ul>

                    <ul>
                        <li>등급 : </li>
                        <li class="bold-text" th:text="${writer.role}"></li>
                    </ul>

                    <ul>
                        <li>작성일시 : </li>
                        <li class="bold-text" th:text="${#temporals.format(post.createdAt, 'yyyy.MM.dd')}"></li>
                    </ul>
                </div>
                <div class="btn-scrap-and-edit">
                    <button class="btn btn-edit"
                        th:if="${userInfo.member_id} == ${writer.member_id}" style="display: block">수정</button>
                    <button class="btn btn-edit-complete"
                            th:if="${userInfo.member_id} == ${writer.member_id}" style="display: none">완료</button>
                    <button class="btn btn-edit-cancel"
                            th:if="${userInfo.member_id} == ${writer.member_id}" style="display: none">취소</button>

                    <button class="btn-scrap" th:if="${userInfo.member_id} == ${writer.member_id}" style="display: none"><img src="/image/empty-heart.png" alt="스크랩 하트 버튼" id = "image"></button>
                </div>
            </div>
        </section>

        <section class="recruit-post-info">
            <div class="recruit-post-info-top">
                <div>
                    <p class="info-option">모집 구분</p>
                    <p th:text="${post.type}"></p>
                </div>
                <div>
                    <p class="info-option">모집 인원</p>
                    <p><span th:text="${post.member_cnt}"></span>명</p>
                </div>
            </div>
            <div class="recruit-post-info-bottom">
                <div>
                    <p class="info-option">진행 방식</p>
                    <p th:text="${post.process_type}"></p>
                </div>
                <div>
                    <p class="info-option">예상 진행 기간</p>
                    <p>
                        <span th:text="${#temporals.format(post.start_date, 'yyyy.MM.dd')}"></span>
                        ~
                        <span th:text="${#temporals.format(post.end_date, 'yyyy.MM.dd')}"></span>
                    </p>
                </div>
            </div>
        </section>

        <section class="recruit-post-detail">
            <p class="recruit-post-introduce">스터디 / 프로젝트 소개</p>
            <div class="recruit-post-text" th:text="${post.content}"></div>
            <form id="updateForm">
                <textarea class="recruit-post-text2" name="editedContent" placeholder="수정할 내용을 입력하세요."></textarea>
                <input type="file" name="file" id="fileInput">
            </form>
            <ul class="upload-files">
                <li>스프링 스터디.pdf</li>
                <li>(253.1KB)</li>
                <li><button>다운로드</button></li>
            </ul>

            <button class="btn btn-apply" th:if="${userInfo.member_id} == ${writer.member_id}" style="display: none">신청하러 가기</button>
            <button class="btn btn-apply-end">모집 마감</button>
        </section>
    </main>

    <section class="comments-group">
        <section class="comment-register">
            <p class="comment-info">댓글</p>
            <input class="comment-input" type="text" placeholder="댓글을 입력해주세요.">
            <button class="btn btn-comment-register">댓글 등록</button>
        </section>
        <section class="comment-exist">
            <div class="comment-detail" th:each="comment:${post.commentList}">
                <p class="comment-nickname" th:text="${comment.nickname}"></p>
                <p class="comment-time" th:text="${#temporals.format(comment.created_at, 'yyyy-MM-dd HH:mm:ss')}"></p>
                <p class="comment-content" th:text="${comment.content}"></p>
                <button class="btn-comment-delete" th:if="${comment.nickname} != ${userInfo.nickname}" style="display:none">삭제</button>
            </div>
        </section>
    </section>

    <footer>
        <div class="footer-more">
            <a class="footer-service-use">이용약관</a>
            <a class="footer-service-introduce">서비스 소개</a>
            <a class="footer-service-name">4242</a>
        </div>
    </footer>

    <button class="btn-to-top">
        <img src="/image/keyboard_arrow_up.png" alt="위로가기 버튼">
    </button>

    <section class="modal-comment-delete">
        <div class="modal-box">
            <button><img src="/image/Close.png" alt="모달창 닫기 버튼" class="modal-close"></button>
            <div class="modal-inner">
                <img src="/image/Info.png" alt="정보 아이콘">
                <p>댓글을 삭제하시겠습니까?</p>
                <button><img src="/image/Ok.png" alt="체크 버튼" class="modal-check"></button>
            </div>
        </div>
    </section>

<link rel="stylesheet" href="/recruitPostDetail.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/post.js"></script>
</body>
</html>