<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet">
    <title>신청글 목록 - 4242(팀장)</title>
</head>
<body>
<header>
    <div class="logo">
        <a class="logo_top" href="">
            <img src="../static/image/logo.png" alt="사이사이 로고">
        </a>
    </div>
    <nav class="menu_top">
        <button class="login_top" type="button">로그인</button>
        <button class="logout_top" type="button">로그아웃</button>
        <button class="mypage" type="button">내 정보</button>
    </nav>
</header>
<main>
    <div class="main_title">
        <button class="go_back" type="button">뒤로가기</button>
        <h1>스터디 / 프로젝트 신청글 목록</h1>
        <p class="study_field">수학</p>
        <p class="study_group">스터디</p>
    </div>
    <div class="main_content">
        <div class="register_list">
            <a href="">신청글1</a>
            <a href="">신청글2</a>
            <a href="">신청글3</a>
            <a href="">신청글4</a>
            <a href="">신청글5</a>
            <a href="">신청글6</a>
            <a href="">신청글7</a>
            <a href="">신청글8</a>
            <a href="">신청글9</a>
        </div>
    </div>
    <div class="main_paging">
        <button type="button">1</button>
    </div>
</main>
<footer>
    <nav class="menu_end">
        <button class="site_info" type="button">이용약관</button>
        <button class="service_desc" type="button">서비스 소개</button>
        <button class="about_4242" type="button">4242</button>
    </nav>
</footer>
</body>
</html>