<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>신청글 상세 조회</title>
</head>
<body>
<header>
    <img src="../static/image/4242-logo.png" alt="4242 로고">

    <ul class="header-nav">
        <li><a>로그아웃</a></li>
        <li><a>내 정보</a></li>
    </ul>
</header>

<main>
    <section class="register-post-header">
        <a class="msg-go-back">뒤로가기</a>
        <div class="register-post-header-box" th:object="${apply}">
<!--            <p class="register-post-title">수학 스터디 신청합니다</p>-->
            <p class="register-post-title" th:text="*{title}"></p>
        </div>
        <div class="writer-info">
            <ul>
                <li>작성자 : </li>
                <li class="bold-text">닉네임</li>
            </ul>

            <ul>
                <li>등급 : </li>
                <li class="bold-text">주니어</li>
            </ul>

            <ul>
                <li>작성일시 : </li>
                <li class="bold-text" th:text="${#temporals.format(today, 'yyyy-MM-dd')}"></li>
<!--                <li class="bold-text">2024.03.23</li>-->
            </ul>
        </div>
    </section>

    <section class="register-post-detail">
        <p class="register-post-introduce">신청 동기</p>
        <div class="register-post-text" th:text="${content}">
            수학 공부가 너무 하고싶어요
            수학수학수학

            수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수학공부수             학공부수학공부수학공부수학공부수학공부수학공부
            수학공부수학공부수학공부

            수학공부수학공부수학공부수학공부수학공부수학공부 읽어주셔서 감사합니다.
        </div>

        <ul class="upload-files">
            <li>작업물1.pdf</li>
            <li>(683.4KB)</li>
            <li><button>다운로드</button></li>
            <li th:text="${file_url}"></li>
        </ul>
    </section>

    <section class="available-info">
        <div class="available-day">
            <p class="available-day-text">활동 가능 요일</p>
            <p class="available-day-list">월, 화, 목, 토</p>
            <p class="available-day-list" th:text="${available_day}"></p>
        </div>
        <div class="available-time">
            <p class="available-time-text">활동 가능 시간</p>
            <p class="available-time-list">아침 시간대 (05:00 ~ 10:59), 점심 시간대 (11:00 ~ 16:59)</p>
            <p th:text="${available_time}">
        </div>

        <button class="btn btn-register-accept">수락</button>
        <button class="btn btn-register-refuse">거절</button>
    </section>
</main>

<footer>
    <div class="footer-more">
        <a class="footer-service-use">이용약관</a>
        <a class="footer-service-introduce">서비스 소개</a>
        <a class="footer-service-name">4242</a>
    </div>
</footer>

<button class="btn-to-top">
    <img src="../static/image/keyboard_arrow_up.png" alt="위로가기 버튼">
</button>

<section class="modal-register-accept">
    <div class="modal-box">
        <button class="btn btn-modal-close"><img src="../static/image/close.png" alt="모달창 닫기 버튼"></button>
        <div class="modal-inner">
            <img src="../static/image/info.png" alt="정보 아이콘">
            <p>신청이 수락되었습니다.</p>
        </div>
    </div>
</section>

<link rel="stylesheet" href="../static/register_post_detail.css">
</body>
</html>