<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/register_list.css">
    <title>신청글 목록 - 4242(팀장)</title>
</head>
<body>
<header>
    <div class="logo">
        <a class="logo_top" href="">
            <img src="../static/image/logo.png" alt="사이사이 로고">
        </a>
        <nav class="menu_top">
            <button class="login_top" type="button">로그인</button>
            <button class="logout_top" type="button">로그아웃</button>
            <button class="mypage" type="button">내 정보</button>
        </nav>
    </div>
</header>
<main>
    <button class="go_back" type="button">뒤로가기</button>
    <div class="main_title">
        <h1>스터디 / 프로젝트 신청글 목록</h1>
        <p class="study_field">수학</p>
        <p class="study_group">스터디</p>
    </div>
    <div class="main_content">
        <div class="register_list">
            <a href="">
                <h1>수학스터디 신청합니다</h1>
                <div class="register_h2">
                    <h2>닉네임</h2>
                    <h2>등급</h2>
                </div>
            </a>
            <a href="">신청글2</a>
            <a href="">
                <h1>수학스터디 신청합니다</h1>
                <div class="register_h2">
                    <h2>닉네임</h2>
                    <h2>등급</h2>
                </div>
            </a>

            <a href="">신청글4</a>
            <a href="">신청글5</a>
            <a href="">
                <h1>수학스터디 신청합니다</h1>
                <div class="register_h2">
                    <h2>닉네임</h2>
                    <h2>등급</h2>
                </div>
            </a>

            <a href="">신청글7</a>
            <a href="">신청글8</a>
            <a href="">
                <h1>수학스터디 신청합니다</h1>
                <div class="register_h2">
                    <h2>닉네임</h2>
                    <h2>등급</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="main_paging">
        <button type="button">1</button>
        <button type="button">2</button>
        <button type="button">3</button>
        <button type="button">4</button>
        <button type="button">5</button>
        <button type="button">6</button>
        <button type="button">7</button>
        <button type="button">8</button>
        <button type="button">9</button>
        <button type="button">10</button>
    </div>
</main>
<footer>
    <nav class="menu_end">
        <button class="site_info" type="button">이용약관</button>
        <button class="service_desc" type="button">서비스 소개</button>
        <button class="about_4242" type="button">4242</button>
    </nav>
</footer>
</body>
</html>